/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visuality-hidden,
.visuality-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*--------------------*/

/* Шрифты */

@font-face {
    font-family: "Poppins";
    src: url("./font/poppins/Poppins-Regular.woff") format("woff"), url("./font/poppins/Poppins-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("./font/poppins/Poppins-Bold.woff") format("woff"), url("./font/poppins/Poppins-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Libre Franklin";
    src: url("./font/_/LibreFranklin-Regular.woff") format("woff"), url("./font/_/LibreFranklin-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/* Стилезация страницы */

body {
    font-family: "Libre Franklin", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;

    background-color: #ffffff;
    color: #6C6C6C;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 0px;
}

.button {
    font-family: "Poppins", Arial, sans-serif;
    font-style: normal;
    font-size: 12px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    text-align: center;

    color: #FFFFFF;
    background-color: #AC1313;

    padding: 22px 38px;
}

.button:hover,
.button:focus {
    opacity: 0.8;
}

.button:active {
    opacity: 0.6;
}

hr {
    width: 100%;
    height: 1px;
    background-color: #EBEBEB;
}

.product-vertical,
.vase-offer-vertical,
.our-online-line-vertical {
    font-family: "Poppins", Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #DBDBDB;

    transform: rotate(-90deg);

    position: relative;
    left: -144px;
    top: 860px;
}

.main-header {
    display: flex;
    height: 91px;
}

.logo {
    font-family: "Pacifico", Arial, sans-serif;
    font-weight: 400;
    font-size: 33px;
    line-height: 40px;

    color: #000000;

    position: relative;
    top: 12px;
}

.site-navigation-list a:hover,
.site-navigation-list a:focus {
    color: #AC1313;
    fill: #AC1313;
}

.site-navigation-list a:active {
    opacity: 0.6;
}

.user-navigation-item path:hover,
.user-navigation-item path:focus {
    fill: #AC1313;
}

.site-navigation-list {
    display: flex;
    width: 324px;
    justify-content: space-between;

    position: relative;
    left: 735px;
    bottom: 6px;
}

.site-navigation-list::after {
    content: "";
    width: 1px;
    height: 38px;

    background-color: #EBEBEB;

    position: absolute;
    right: -25px;
    bottom: -8px;
}

.site-navigation-list a {
    font-family: "Poppins", Arial, sans-serif;
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #6C6C6C;
}

.user-navigation-list {
    display: flex;

    position: relative;
    margin-left: 1098px;
    bottom: 27px;
}

.user-navigation-list a {
    font-family: "Libre Franklin", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    color: #000000;

    padding-left: 30px;
}

.user-navigation-list a:hover,
.user-navigation-list a:focus,
.user-navigation-list a:hover path,
.user-navigation-list a:focus path {
    color: #AC1313;
    fill: #AC1313;
}

.user-navigation-list a:active {
    opacity: 0.6;
}

.cart svg {
    position: absolute;
    right: 36px;
}

.pompeo-pottery {
    height: 708px;
}

.pompeo-pottery h2 {
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #D77474;

    position: relative;
    top: 194px;
    left: 10px;
}

.pompeo-title {
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.2px;

    color: #000000;

    position: relative;
    top: 188px;
    left: 8px;
}

.pompeo-pottery span {
    font-family: "Playfair Display", Arial, serif;
    font-weight: 400;
    font-size: 68px;
    line-height: 68px;

    color: #AC1313;

    position: relative;
    bottom: 8px;
    left: 6px;
}

.pompeo-offer {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.1px;

    position: relative;
    top: 204px;
    left: 8px;
}

.pompeo-pottery a {
    position: relative;
    top: 272px;
    left: 10px;
}

.pompeo-pottery img {
    position: relative;
    left: 284px;
    bottom: 54px;
}

.product-categories {
    position: relative;
    margin-top: 120px;
}

.product-categories h2 {
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #D77474;

    position: relative;
    top: 2px;
    left: 6px;
}

.product-categories-title {
    font-family: "Poppins", Arial, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;

    color: #000000;

    position: relative;
    top: 18px;
}

.product-categories-title span {
    font-family: "Playfair Display", Arial, serif;
    font-size: 68px;
    font-weight: 400;
    line-height: 68px;
    text-align: center;

    color: #AC1313;

    position: relative;
    bottom: 10px;
}

.product-categories-list {
    display: flex;
    width: 1172px;
    justify-content: space-around;
    position: relative;
    top: 80px;
}

.product-categories-item {
    text-align: center;
    width: 240px;
    height: 240px;
}

.product-categories-item:hover,
.product-categories-item:focus {
    opacity: 0.8;
}

.product-categories-item:active {
    opacity: 0.6;
}

.product-categories-item p {
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 38px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.product-categories-item a {
    position: relative;
    top: 45px;
}

.product-categories-list li:first-child {
    background: #E4B366;
    border: 30px solid rgba(0, 0, 0, 0.05);
    border-radius: 240px;
}

.product-categories-list li:nth-child(2) {
    background: #F05B10;
    border: 30px solid rgba(0, 0, 0, 0.05);
    border-radius: 240px;
}

.product-categories-list li:last-child {
    background: #A21010;
    border: 30px solid rgba(0, 0, 0, 0.05);
    border-radius: 240px;
}

.product-categories-block {
    display: flex;
    width: 1124px;
    justify-content: space-between;

    position: relative;
    top: 168px;
    left: 10px;
}

.product-categories-block h3 {
    font-family: "Poppins", Arial, sans-serif;
    font-size: 29px;
    font-weight: 700;
    line-height: 36px;

    color: #000000;
}

.product-categories-block p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;

    color: #6C6C6C;

    position: relative;
    top: 26px;
}

.product-line-1 {
    position: relative;
    top: 342px;
}

.product-vertical {
position: absolute;
    left: -156px;
    top: 264px;
}

.vases {
    display: flex;
    position: relative;
    margin-top: 420px;
}

.vases h2 {
    font-family: "Poppins", Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    text-transform: capitalize;
    text-align: start;
    letter-spacing: -0.5px;

    color: #000000;

    position: relative;
    top: 4px;
    left: 2px;
}

.vase-description-1 p,
.vase-description-2 p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: start;
    letter-spacing: -0.2px;

    color: #6C6C6C;

    position: relative;
    top: 30px;
}

.gold-vase,
.gold-vase-2 {
    background-color: #F5F5F5;
    width: 500px;
    height: 220px;

    position: relative;
}

.gold-vase {
    top: 146px;
    left: 10px;
}

.gold-vase img {
    position: absolute;
    top: -144px;
    left: 124px;
}

.vase-description-1 {
    position: relative;
    left: 596px;
    bottom: 62px;
}

.gold-vase-2 {
    top: 410px;
    left: 95px;
}

.gold-vase-2 img {
    position: absolute;
    top: -98px;
    left: 76px;
}

.vase-description-2 {
    position: relative;
    top: 604px;
    right: 490px;
}

.vases a {
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;

    color: #000000;

    position: relative;
    top: 54px;
}

.vases a:hover,
.vases a:focus {
    color: #AC1313;
}

.vases a:active {
    opacity: 0.6;
}

.vase-offer-vertical {
    white-space: nowrap;

    transform: rotate(-90deg);

    position: absolute;
    top: 392px;
    left: 1133px;
}

.vases-line {
    margin-top: 558px;
}

.products {
    position: relative;
    margin-top: 120px;
}

.products h2 {
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #D77474;

    position: relative;
    left: 18px;
}

.our-online-title {
    font-family: "Poppins", Arial, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;

    color: #000000;

    position: relative;
    top: 16px;
    left: 10px;
}

.our-online-list {
    display: flex;
    flex-wrap: wrap;
    width: 1152px;
    justify-content: space-between;

    position: relative;
    top: 44px;
    left: 10px;
}

.our-online-item {
    position: relative;
    margin-top: 36px;
}

.our-online-item:hover,
.our-online-item:focus {
    opacity: 0.8;
}

.our-online-item:active {
    opacity: 0.6;
}

.our-online-item::after {
    content: "";
    width: 370px;
    height: 1px;

    background-color: #DBDBDB;

    position: absolute;
    margin-top: 16px;
}

.our-online-item h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

    color: #6C6C6C;

    position: relative;
    margin-top: 20px;
}

.our-online-item p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;

    color: #000000;
}

.our-online-button {
    position: relative;
    top: 140px;
    left: 479px;
}

.our-online-line-vertical {
    letter-spacing: 0.4px;

    left: -646px;
    top: -1248px;
}

.our-online-vertical {
    font-family: "Poppins", Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;

    line-height: 34px;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #DBDBDB;

    transform: rotate(-90deg);

    position: absolute;
    right: -144px;
    bottom: -116px;
}

.ready-to-start {
    text-align: start;

    background: url("./img/purchases-fon.jpg") no-repeat center;
    height: 471px;
    margin-top: 246px;
}

.ready-to-start h2 {
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: start;

    color: #D77474;

    position: relative;
    top: 122px;
    left: 10px;
}

.ready-to-offer {
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: -0.3px;

    color: #000000;

    position: relative;
    top: 128px;
    left: 10px;
}

.offer-and-link {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.3px;

    color: #6C6C6C;

    position: relative;
    top: 142px;
    left: 10px;
}

.offer-and-link a {
    color: #AC1313;
}

.offer-and-link a:hover,
.offer-and-link a:focus {
    text-decoration: underline;
}

.offer-and-link a:active {
    opacity: 0.6;
}

.ready-to-button {
    position: relative;
    top: 192px;
    left: 10px;
}

.telegram-block {
    text-align: center;
    position: relative;
    margin-top: 126px;
}

.telegram-block p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;

    color: #D77474;

    position: relative;
    top: 39px;
}

.telegram-block a:hover,
.telegram-block a:focus {
    opacity: 0.8;
}

.telegram-block a:active {
    opacity: 0.6;
}

.latest {
    margin-top: 58px;
}

.latest h2 {
    font-family: "Poppins", Arial, sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
    letter-spacing: -0.4px;

    color: #000000;

    position: relative;
    bottom: 6px;
    left: 5px;
}

.latest span {
    font-family: "Playfair Display", Arial, serif;
    font-size: 68px;
    font-weight: 400;
    line-height: 68px;
    text-align: center;

    color: #AC1313;

    position: relative;
    bottom: 8px;
    left: 4px;
}

.latest form {
    position: relative;
    top: 58px;
    left: 336px;
}

.latest input[type="text"] {
    width: 316px;
    height: 45px;
    padding-left: 36px;

    border: 1px solid #EBEBEB;
}

.latest-button {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    
    padding: 12.5px 48px;

    background-color: #000000;
    color: #FFFFFF;

    position: relative;
    top: 1px;
    left: 4px;
}

.latest label {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;

    color: #A1A1A1;

    position: relative;
    top: 76px;
    right: 346px;
}

.main-footer {
    height: 611px;
}

.main-footer a:hover,
.main-footer a:focus {
    color: #AC1313;
}

.main-footer a:active {
    opacity: 0.6;
}

.main-footer hr {
    margin-top: 284px;
}

.footer-logo-block {
    text-align: center;
    margin-top: 90px;
}

.footer-logo-block p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.3px;

    color: #6C6C6C;

    position: relative;
    top: 44px;
    left: 4px;
}

.footer-navigation {
    display: flex;
    justify-content: space-between;
    width: 902px;

    position: relative;
    top: 112px;
    left: 128px;
}

.footer-navigation div {
    text-align: center;
}

.footer-navigation p {
    font-family: "Poppins", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #000000;

    position: relative;
    top: 10px;
}

.footer-navigation a {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;

    color: #6C6C6C;

    position: relative;
    top: 32px;
}

.template-design-line {
    position: relative;
    bottom: 72px;
}

.footer-navigation-offer {
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.3px;

    color: #6C6C6C;

    position: relative;
    top: 265px;
    left: 366px;
}

.footer-navigation-offer a {
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;

    color: #000000;
}